html {
  font-size: 100%;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #ebf0fa;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0f1f3d;
  font-family: 'Merriweather Sans', sans-serif;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  color: #130606;
  font-family: 'Merriweather', Georgia, "Times New Roman", serif;
  font-size: .9em;
  line-height: 1.35rem;
}

p.light {
    font-weight: lighter;
}


#nav a:link, a:visited {
  display: block;
  color: #fff;
  background-color: #66c2ff;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #33adff;
}



#body a:link {
  color: #3973ac;
  text-decoration:none;
}

#body a:visited {
  color: #6666ff;
  text-decoration:none;
}

#body a:hover {
  color: #264d73;
  text-decoration:none;
}

.caption {
  color:black;
  font-family:Georgia, "Times New Roman", serif;
  font-size:0.8em;
  font-style:italic;
  margin-top:0;
}

#container {
  width: 95%;
  background-color:#ffffff;
  margin: 0 auto;
}

#nav {
  padding-left: 0px;
}

#nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
}

#footer {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: .8em;
  border-top: 1px solid black;
}

img {
  border: none;
}


em {
	font-style: italic;
}
